#cards {
  display: flex;
  flex-wrap: wrap; 
  width: 85%; /* 新增：寬度和標頭一致 */
  margin: 0 auto;  /* 新增：置中 */
}

.card {
  /* 每個 item 分配容器寬度 */
  /*  flex-basis: 7%; 控制 item 在容器裡佔的寬度
      flex-grow: 0;   分配剩餘空間，設定0，意思是不要分配剩餘空間
      flex-shrink: 1; 空間不足如何收縮，設定1，我們想讓元素等比例收縮*/
  flex: 7% 1 1;
  
  /* 依視窗的寬度等比例變化，8vw，代表視窗大小的 8% */
  height: 8vw;
  
  border: 2px solid #e0e0e0; /* 快捷鍵:bd */
  display: flex;  /* 快捷鍵:d:f */
  flex-direction: column; /* 快捷鍵:fxd:c */
  justify-content: space-around; 
  margin: 2px; /* 卡片邊距 */
  box-sizing: border-box; /* 設定 box-sizing*//*要再看*/
}

.card img {
  max-width: 30%;
  align-self: center;
}

.card p {
  margin: 3px;
  font-size: 10px;
}

/* :last-child 在同一個階層的同類元素中，選出最後面的元素。 */
.card p:last-child {
  transform: rotate(180deg);
}

.back {
  background: url('https://assets-lighthouse.alphacamp.co/uploads/image/file/9222/ExportedContentImage_00.png');
  background-size: cover;
}

.paired {
  background-color: #dae0e3;
}

#header {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: flex-end;
  width: 85%;
}
#header .title {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#header .title img {
  max-width: 3em;
}
#header .title h2 {
  padding-left: 0.5em;
}
#header .score {
  margin: 0;
  color: #6c90ac;
}
#header .tried {
  margin-top: 0;
}

.wrong {
  animation-name: wrongAnimation;
  animation-duration: 0.2s;
  animation-iteration-count: 5;
}
@keyframes wrongAnimation {
  to {
    border: 2px solid #ffd54f;
  }
}

/** Game finished **/
.completed {
  position: absolute;
  z-index: 999;
  top: 33vh;
  background-color: RGBA(232, 246, 254, 0.8);
  width: 100vw;
  padding: 50px 0;
}
.completed > p {
  font-size: 1.5em;
  color: black;
  text-align: center;
  margin: 0;
}
.completed > p:first-child {
  font-size: 3em;
  font-weight: 700;
  color: #758d9a;
}